body{
    background-color:#f8c990;
    
}

header{
    color: white;
    text-align: center;
}

section {
    background-color: white;
    padding: 1cm 0cm 15cm;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.192);
}

#cota{
    font-family: Open Sans,sans-serif;
}

#dolar{
    position: relative;
    top: 119px;
    left: 1400px;
}
#euro{
    position: relative;
    top: 85px;
    left: 1650px;
}

div#generalNews{
padding: 10px 600px 0px 200px;
text-align: start;
font-family: Open Sans,sans-serif;

}

#tittle1, #tittle2, #tittle3, #tittle4{
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0px;

}

#intro1, #intro2, #intro3, #intro4{
font-size: 18px;
}

footer{
    color: white;
    text-align: center;
}